<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Sharon here!</h1>
      <h4 class="subheader">I'm busy staring into space.</h4>
    </div>
    <div class="content">
      <img class="ace-at-coding :p" src="/images/tdawg.jpg" />
      <p>My name is Sharon and I'm studying Computer Science and Software Engineering in Maynooth University.</p>
    </div>
  </main>
</body>
</html>